#copysuccess {
  position: fixed;
  color: #fff;
  background: #00ba63;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 5px 5px 10px, -5px -5px 10px;
  transition: 0.5s;
  opacity: 1;
  z-index: 1;
}
div.copy {
  bottom: -50%;
  left: 50%;
}
div.copied {
  left: 50%;
  bottom: 5%;
  opacity: 0;
}
